@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.2;
}
h2 {
  font-size: 2.8rem;
  line-height: 1.2;
}
h3 {
  font-size: 2.4rem;
  line-height: 1.2;
}
h4 {
  font-size: 2rem;
  line-height: 1.2;
}
h5 {
  font-size: 1.6rem;
  line-height: 1.2;
}
h6 {
  font-size: 1.2rem;
  line-height: 1.2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
input,
select {
  margin: 0;
  border: 2px solid #fff3;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 1.6rem;
  box-sizing: border-box;
  align-items: center;
  line-height: normal;
  overflow-x: clip;
  overflow-y: clip;
}

select {
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) 19px, calc(100% - 15px) 19px,
    calc(100% - 40px) 8px;
  background-size: 5px 5px, 5px 5px, 1px 1.6rem;
  background-repeat: no-repeat;
}
select:focus {
  appearance: none;
  background-image: linear-gradient(135deg, transparent 50%, gray 50%),
    linear-gradient(45deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) 19px, calc(100% - 15px) 19px,
    calc(100% - 40px) 8px;
  background-size: 5px 5px, 5px 5px, 1px 1.6rem;
  background-repeat: no-repeat;
}

label {
  font-size: 1.6rem;
  margin-left: 4px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
